# 🌟 Core Framework
Django==4.2.7
asgiref==3.11.1
sqlparse==0.5.5

# 🚀 Server & Database (For Render Deployment)
gunicorn==21.2.0
psycopg2-binary==2.9.9
whitenoise==6.5.0

# 🤖 Bot Automation & API Features
playwright==1.42.0

# 🛠️ Dependencies & Utils
packaging==26.0
typing_extensions==4.15.0
